.DS_Store
*~
CS-Project.vcxproj
CS-Project.vcxproj.filters
CS110-Project.vcxproj
CS110-Project.vcxproj.filters
openal32.dll
sfml-audio-2.dll
sfml-audio-d-2.dll
sfml-graphics-2.dll
sfml-graphics-d-2.dll
sfml-network-2.dll
sfml-network-d-2.dll
sfml-system-2.dll
sfml-system-d-2.dll
sfml-window-2.dll
sfml-window-d-2.dll
Debug/
msvcp140d.dll
ucrtbased.dll
vcruntime140d.dll
Release/